name: Deploy
on:
  workflow_call:
    inputs:
      is_deploy:
        required: true
        type: 'boolean'
jobs:
  deploy:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '22'
          cache: 'npm'
      - run: npm install
      - run: npm run build
      - name: Push changes to the remote branch
        if: inputs.is_deploy
        uses: suzuki-shunsuke/gh-pages-action@5df123b4f8ae31edbe71bcc9a28a9598c29b1011 # v0.0.6
        with:
          publish_dir: build
          destination_dir: docs
